
.titulo {
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros{
    width: 900px;
    height:900px;
	margin:5px auto;
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width:400px;
	height:300px;
	line-height:400px;
	margin:5px auto;
	text-align:center;
}


.contenido-textos h3 span{
    background: #333;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    width:450px;
	height:50px;
    text-align: justify;
}

