*{
	padding: 0px;
	margin: 0px;
}
body
{
	background-color: #ddd;
}
 .contenedor
{
	width: 950px;
	margin: auto;
	padding: 5px;

	}
main
{
	width: 950px;
	height: 100px;
	background-color: #333;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
	padding-top: 20px;
	
}
header nav
{
	text-align: center;
	background-color: #ff6309;
	
}
header nav ul li
{
	display: inline-block;
	padding: 10px;
}
header nav ul li a{
	text-decoration: none;
	font-family: fantasy;
	font-size: 15px;
	color:black;
	font-weight: bold;
}
header nav ul li a:hover{
	color: white;	
}

section{
	float: left;
	width: 950px;
	min-height: 650px;
	margin-top:5px; 
	margin-bottom: 5px; 
	background: white;
	
}
section img{
	width: 600px;
	height: 367px;
	margin-left: 175px;
	margin-top: 100px;
}

footer{
	clear: both;
	width: 950px;
	height: 50px;
	background-color: #333;
	text-align: center;
	color: #fff;
	line-height: 50px;
	font-style: italic;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
}
p{
	text-align: justify;
	padding: 10px;
}
aside a{
	text-decoration: none;
	display: block;
	margin-left: 20px; 
	margin-top: 5px;
	padding: 2px;
}
aside img{
	width: 20px;
	height: 20px;

}

aside div img{
	width: 200px;
	height: 120px;
	margin-left: 30px;
}
main h1{
	margin-left: 350px;
	color: white;

}
main h2{
	margin-left: 300px;
	color: white;

}