body {
    margin: 0;
}
.formulario_login {
  background: rgb(255, 255, 255);
}

.section {
  background: url(../img/fondo.jpg);
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.formulario_login {
    width: 400px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 3);
    position: relative;
}
.formulario_titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0, 0, 0, 7);
}

.formulario_input, .formulario_label, .formulario_button {
    display: block;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 3);
    margin-bottom: 40px;
}
.formulario_input {
    padding: 20px;
    border: 1px solid rgb(0,0,0,0.3);
    margin-bottom: 40px;
}

.formulario_label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20px;
}

.formulario_button {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;

}