body {
    margin: 0;
}
.formulario_transacion {
    background: rgb(255, 255, 255);
  }

  .section {
    background: url(../img/fondo.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }

  .formulario_transacion {
    width: 700px;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 60px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 3);
    position: relative;
}
.formulario_titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0, 0, 0, 7);
}

.formulario_input, .formulario_label, .formulario_button {
    display: block;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 3);
    margin-bottom: 40px;
}

.formulario_input {
    padding: 20px;
    border: 1px solid rgb(0,0,0,0.3);
    margin-bottom: 40px;
}

.formulario_label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20px;
}

.formulario_button {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;

}



input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: rgb(223, 219, 219);
    color: rgb(10, 10, 10);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}